:root {
  /* --header-background: #5661b3; */
  /* --header-background: #f1e6eb; */
  --header-text-color: #5661b3;
  --header-font-size: 2rem;
  /* --square-font-size: calc(1 * var(--header-font-size)); */
  /* --square-text-color: #f1e6eb; */
  /* --square-background-color: #f1e6eb; */
  /* --square-border: 3px solid var(--square-text-color); */
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: #f1e6eb;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

header {
  text-align: center;
  padding: 2rem;
}

h1 {
  font-family: 'Courier New', Courier, monospace;
  letter-spacing: 0.4rem;
  font-size: 2rem;
  color: var(--header-text-color);
  margin: 1rem 0 3rem 0;
  margin: 0px;
  background-color: var(--header-background);
}
h2 {
  font-size: 1.5rem;
  font-family: 'Courier New', Courier, monospace;
  padding: 20px 0px 0px 0px;
}

h3 {
  font-family: 'Courier New', Courier, monospace;
}

ul li {
  font-family: monospace;
  font-size: var(--square-font-size);
  background-color: var(--square-background-color);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul li.thrown {
  cursor: not-allowed;
}

ul li.small {
  font-size: 4rem;
}

ul li.not-allowed-click {
  background-color: red;
}

main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5rem;
}

section {
  border: solid #5661b3 1px;
  border-radius: 5px;
  text-align: center;
  padding: 2rem 2rem 2rem 2rem;
  opacity: 25%;
  width: 30%;
  min-width: 18rem;
}

img {
  height: 100%;
  width: 100%;
}

.activePlayer {
  opacity: 100%;
}

.grid {
  display: grid;
  align-items: start;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-gap: 32px;
  padding: 2.5rem 1rem 4rem 1rem;
}

.rock,
.paper,
.scissors {
  grid-column: span 2;
}

.lizard {
  grid-column: 2 / span 2;
}

.spock {
  grid-column: 4 / span 2;
}

.hidden {
  display: none;
}

@media only screen and (max-width: 725px) {
  h1 {
    font-size: 2.5rem;
    letter-spacing: 0rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  main {
    padding: 0rem 1rem;
    gap: 2rem;
  }

  section {
    padding: 0.5rem;
  }
}
